@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Varela+Round&display=swap");
::-webkit-scrollbar {
  width: 0;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5d5d5a;
  font-family: "Varela Round", sans-serif;

  color: #fff;
}
/* -----container------ */
.container {
  width: 350px;
  height: 600px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background: #000;
}
/* -X----container-----X- */

/* --------VOLUME---------- */
.volume-controller-container {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}
.volume-controller-container .volume {
  width: 70%;
  height: 2px;
}
/* -X-------VOLUME---------X- */

/* -----Player-container------ */
.player-container {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}
.player-container.play {
}

.image {
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #fff;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.player-container h3,
.player-container h6 {
  margin: 10px;
  padding: 0;
  font-weight: 500;
}
.music-track {
  margin: 10px auto;
  width: 80%;
  position: relative;
  box-shadow: 0 0 20px 10 rgba(255, 255, 255, 0.5);
}

.music-track .track {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, purple 0%, white 0%);
}
.music-track .track::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: rgb(155, 16, 155);
  border-radius: 50%;
  box-shadow: 0 0 2px 4px rgba(255, 255, 255, 0.5);
}

.music-counter {
  display: flex;
  justify-content: space-between;
}
.control-btns {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.control-btns button,
.about button {
  background: none;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.control-btns .active {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000;
}
.control-btns .shuffle,
.control-btns .repeat,
.about button {
  font-size: 13px;
  font-weight: 500;
}
/* -X----Player-container-----X- */

/* -----list------ */
.list {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}
.list h4 {
  margin: 0;
  padding: 0;
}
.list img {
  position: absolute;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 5px;
}
/* -X----list-----X- */

